.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top:30px;
  margin:0px 50px;
}
.navbar {
  padding: 0px;
  margin-bottom:20px;
  background-color:#033b28;
}
.navbar-dark .navbar-nav  .nav-link{
  color: white;
}
.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}
.card {
  border:none;
  height:400px;
  width:200px;
  margin:10px;
}

.card-text .card-title {
  display: flex;
  justify-content: center;
}
.song_image {
  height:200px;
  width:200px;
  border-radius: 50%; 
}
.nav-end {
  padding: 0px;
}
.song_image:hover {
  filter: drop-shadow(8px 8px 10px gray);
}

.header {
  color:#e30bad;
}

.form {
  border:1px solid #dcded9;
  box-shadow: 0 3px 10px 0 rgba(80,80,80,0.1);
  margin-top: 20px !important;
  width:400px;
  margin:auto;
  align-items: center;
  padding:20px;
}


.form > h2 {
  
  text-align: center;
}
input#Useremail {
  border: none;
  border-radius: 40px;
  height: 40px;
  width:350px;
  background-color: #f2f7f6;
  padding:30px;
  padding-left:70px;
  position: absolute;
 
}
input#Userpwd {
  border: none;
  border-radius: 40px;
  height: 40px;
  width:350px;
  background-color: #f2f7f6;
  padding:30px;
  padding-left: 70px;
  position: absolute;
 
}
.login,.register {
  border: none;
  border-radius: 40px;
  height: 50px;
  width:350px;
  padding:5px;
  color: white;
  background-color: #13945c;
}
.fa-envelope, .fa-lock {
  position: relative;
  color:#8c9694;
  top:15px;
  left:20px;
}
.songdetail, .profile {
  border:1px solid #dcded9;
  box-shadow: 0 3px 10px 0 rgba(80,80,80,0.1);
  margin-top: 20px !important;
  width:400px;
  margin:auto;
  padding:20px;
  max-width:600px;
}
.songdetail > h3 {
  color:rgb(17, 133, 98);
  text-align:center;
}
.songdetail > h3 >span {
  color:rgb(48, 17, 133);
  text-align:center;
}
.profile > h3 {
  color:rgb(17, 133, 98);
  text-align:center;
}
.profile > h3 >span {
  color:rgb(48, 17, 133);
  text-align:center;
}
.error {
  color:red;
}
label {
  float:left;
  margin:0px 20px;
  color:blue;
}
.img_icon_wrap {
  position: relative;
}
.fa {
  font-size: 30px;
}
.fa-times-circle  {
  position:absolute;
  top:0;
  right:0;
  opacity: 0.6;
}
.checked {
  position:absolute;
  top:0;
  right:0;
  height:20px;
  width:40px;
}
.pl-checked {
  margin-right:20px;
  height:20px;
  width:40px;
}
.fa-edit {
  position:absolute;
  bottom: 0;
  left:0;
  cursor:pointer;
}
.fa-music {
  position: absolute;
  color:black;
  bottom: 0;
  right:0;
}
 
.fa-music:before{
  content:"\f04b";
  color:black;
  opacity:0.6;
}
.song_container {
  position: relative;
}
.dlt_btn {
  position: absolute;
  top:0;
  right:0;
  margin-right: 20px;
  
}
.add_btn {
  margin-left: 20px;
  background-color: "#13945c"; 
  color: "white" ;

}
.video-player {
  display: flex;
  align-items: center;
  padding-top:10px;
}
.song-title {
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}