.songs {
  display: flex;
  flex-wrap: wrap;
  padding-top:30px;
 padding-left: 20px;
 
}
.song-movie {
  /* color: #626e6d; */
  color:darkred;
  font-size: larger;
  margin-bottom:-7px;
}
.song-movie, .song-title {
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.song-title {
  font-family: serif;
  font-weight: bolder;
  margin-top:5px;
  margin-bottom: 0px;
}

.navbar {
  padding: 0px;
  margin-bottom:20px;
  background-color:#061f3b;
}
.navbar-dark .navbar-nav  .nav-link{
  color: white;
}
.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}
.card {
  border:none;
  max-height:400px;
  width:130px;
  margin:10px;
}
.card-text .card-title {
  display: flex;
  justify-content: center;
  
}
.card-body {
  padding:0;
}
.song_image {
  height:140px;
  width:120px;
  border-radius: 10px; 
 
}
.song_image:hover {
  filter: blur(1px);
  transition: 0.5s ease-in-out;
}

.song_image:hover + .webLink {
  display: block;
  position: absolute;
  /* font-size: 30px; */
  top:30%;
  right: 40%;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 40%;
  color: #ed370e;
 
}

.webLink:hover{
  display: block;
  position: absolute;
  /* font-size: 30px; */
  top:30%;
  right: 40%;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 40%;
  color: red;
}
.webLink:hover + .song_image {
 opacity: 0.3;
}
.webLink {
  display: none;
  color:white;
}
.img_icon_wrap {
  position: relative;
}
.dd_song,
.threedots::before {
 content: "\2807";
  position: absolute;
  font-size: 30px;
  top:0;
  right: -7px;
}
.nav-end {
  padding: 0px;
}

.header {
  color:#e30bad;
}

.form, .login-form {
  border:1px solid #dcded9;
  box-shadow: 0 3px 10px 0 rgba(80,80,80,0.1);
  margin-top: 20px !important;
  width:400px;
  margin:auto;
  align-items: center;
  padding:20px;
}


.form > h2, .login-form>h2 {
  
  text-align: center;
}
input#Useremail {
  border: none;
  border-radius: 40px;
  height: 40px;
  width:350px;
  background-color: #f2f7f6;
  padding:30px;
  padding-left:70px;
  position: absolute;
 
}
input#Userpwd {
  border: none;
  border-radius: 40px;
  height: 40px;
  width:350px;
  background-color: #f2f7f6;
  padding:30px;
  padding-left: 70px;
  position: absolute;
 
}
.login,.register, .addButton {
  border: none;
  border-radius: 40px;
  height: 50px;
  width:350px;
  padding:5px;
  color: white;
  background-color: #13945c;
}
.fa-envelope, .fa-lock {
  position: relative;
  color:#8c9694;
  top:15px;
  left:20px;
}
.Details {
  display: flex;
}
.songdetail {
  padding-top: 40px;
  padding-left: 30px;
}
 .profile {
  
  box-shadow: 0 3px 10px 0 rgba(80,80,80,0.1);
  margin-top: 20px !important;
  width:400px;
  margin:auto;
  padding:20px;
  max-width:600px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.songdetail > h4 {
  color:#858371;
  font-size: 18px;
}
.songdetail > h2 {
  font-size: 40px;
}
.userIcon {
  font-size:200px;
}
.profile > h3 {
  color:rgb(17, 133, 98);
  text-align:center;
}
.profile > h3 >span {
  color:rgb(48, 17, 133);
  text-align:center;
}
.error {
  color:red;
}
label {
  float:left;
  margin:0px 20px;
  font-family: sans-serif;
}
.fa {
  font-size: 30px;
}
.fa-times-circle  {
  position:absolute;
  top:0;
  right:0;
  opacity: 0.6;
}
.checked {
  position:absolute;
  top:-12px;
  left:-30px;
  height:20px;
  width:40px;
}
.pl-checked {
  margin-right:20px;
  height:20px;
  width:40px;
}
.fa-edit {
  position:absolute;
  bottom: 0;
  left:0;
  cursor:pointer;
}
.song_container {
  position: relative;
}
.dlt_btn {
  position: absolute;
  top:0;
  right:0;
  margin-right: 20px;
  
}
.add_btn {
  margin-left: 20px;
  background-color: "#13945c"; 
  color: "white" ;

}
.video-player {
  display: flex;
  align-items: center;
  padding-top:10px;
}


.w-100 {
  height: 400px;
}
.aboutArea {
  text-align: center;
  margin:20px;
}
.aboutArea > p {
  font-size: 20px;
}
input[type="checkbox"] { margin-right: 4px}